@import url(font.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: rgba(255, 255, 255, 0.96);
}
.container__full{
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.nav__list{
    display: flex;
    column-gap: 32px;
}
.nav__link{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #131314;
}
.nav__btn{
    column-gap: 16px;
    display: flex;
}
.nav__btn1{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    width: 112px;
    height: 40px;
}
.nav{
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 0;
}
.header__img{
    max-width: 676px;
    width: 100%;
    height: 676px;
}
.header__title{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.288px;
    max-width: 437px;
    width: 100%;
    margin-bottom: 30px;
}
.btn{
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    width: 247px;
    margin-bottom: 23px;
    cursor: pointer;
}
.header__text a{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #46474E;
}
.header__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #46474E;
}
.content__left{
    margin-top: 70px;
}
.header__bottom{
    display: flex;
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    height: 56px;
    margin: 25px auto;
    max-width: 355px;
    margin-bottom: 64px;
}
.hand{
    padding: 19px 8px 23px 16px;
}
.text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #131314;
    padding: 19px 0 23px 0;
}
.logo{
    padding: 22px 0 22px 4px;
}
.line{
    padding: 21px 16px;
}
.learnmore{
    padding: 22px 0 ;
}
.xxx{
    padding: 23.71px 23.71px 23.71px 0;
}
.container{
    max-width: 1295px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    padding-bottom: 25px;
    
}
.section1{
    background: #F3F4F4;
    border-radius: 8px;
    border: none;
    position: relative;
    
}
.title{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.216px;
    color: #000000;
}
.section__title{
    max-width: 476px;
    width: 100%;
    margin: 0 auto 61px auto;
    padding-top: 65px;
}
.section1__img{
    padding-left: 104px;
    padding-right: 104px;
}
.section1__position{
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}
.section2{
    display: flex;
    column-gap: 25px;
}
.part__left {
    background: #F3F4F4;
    max-width: 620px;
    width: 50%;
    border-radius: 8px;
    position: relative;
    border: none;
}
.part__right {
    background: #F3F4F4;
    max-width: 620px;
    width: 50%;
    border-radius: 8px;
    position: relative;
    border: none;
}
.part__img{
    padding: 0 120px;
}
.part__titleleft{
    max-width: 322px;
    margin: 63px auto 0 auto;
    width: 100%;
 
}
.part__titleright{
    max-width: 303px;
    margin: 65px auto 0 auto;
    width: 100%;
}
.parttext__left{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #46474E;
    max-width: 432px;
    width: 100%;
    margin: 17px auto -88px auto;
}
.parttext__right{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    line-height: 29px;
    text-align: center;
    color: #46474E;
    max-width: 429px;
    width: 100%;
    margin: 17px auto 34px auto;
}
.part__positionright{
    position: absolute;
    left: -20px;
    top: -20px;
}
.part__positionleft{
    position: absolute;
    left: -22px;
    top: -11px;
}
.part__titleright4{
    max-width: 416px;
    margin: 65px auto 0 auto;
    width: 100%;
}
.section4__img{
    margin-top: 35px; 
    object-fit: contain;
}
.section4__left{
    position: absolute;
    top: -18.75px;
    right: -18.75px;
}
.section4__right{
    position: absolute;
    top: -16.67px;
    right: -22.92px;
}
.section4__imgleft{
    max-width: 380px;
    margin: 35px 120px 0 120px; 
    object-fit: contain;
}
.section__bottom1{
    display: flex;
    column-gap: 60px;
    justify-content: center;
    margin-top: 130px;
    position: relative;
}
.bottom1__title{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.288px;
    color: #000000;
    max-width: 315px;
    width: 100%;
    padding-bottom: 26px;
}
.bottom1__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #46474E;
    max-width: 408px;
    width: 100%;
}
.bottom__contentleft{
    max-width: 467px;
    width: 100%;
    margin-top: 108px;
}
.card{
    max-width: 420px;
    width: 100%;
    padding: 25px;
    background: #FFFFFF;
    border: 1px solid #E8E8E9;
    border-radius: 8px;
    margin-bottom: 17px;
    position: relative;
}
.part__top{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
ul{
    list-style: none;
}
.card__img{
    margin-right: 16px;
}
.twitter{
    position: absolute;
    top: 34.25px;
    right: 25px;
}
.card__name{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
.card__link{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #697882;
}
.card__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
}
.card__textbottom{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #697882;
}
.bottomline{
    position: absolute;
    bottom: -53px;
}
.section__bottom2{
    margin-top: 175px;
    text-align: center;
    margin-bottom: 120px;
}
.bottom2__title{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.288px;
    color: #000000;
}
.bottom2__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #46474E;
    max-width: 705px;
    width: 100%;
    margin: 28px auto 40px auto;
}
.bottom2__content{
    display: flex;
    justify-content: center;

}
.bottom__card{
    width: 227px;
}
.bottomcard__title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    padding-top: 25px;
}
.bottomcard__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #46474E;
    padding-top: 3px;
}
.footer{
    background: #F6F6F6;
}
.footer__top{
    text-align: center;
    padding-top: 81px;
    padding-bottom: 61px;
}
.footer__title{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.288px;
    color: #000000;
    padding-bottom: 15px;
}
.footer__title2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #46474E;
    padding-bottom: 5px;
}
.footer__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    line-height: 31px;
    text-align: center;
    color: #46474E;
    max-width: 444px;
    width: 100%;
    margin: 0 auto 25px auto;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    max-width: 1136px;
    width: 100%;
    margin: 0 auto ;
    padding: 0 24px 60px 24px;
}
.footer__link{
    display: flex;
    column-gap: 25px;
}
.footer__item{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #131314;
}
.footer__bottomtext{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #46474E;
}